<div class="container" style="opacity: 0.8;">
    <style>
        .head-line{
            text-align: center;
            background: white;
            border-radius: 0 0 100px 100px;
            padding: 5px 0px;
        }

        .foot-line{
            position: fixed;
            text-align: left;
            background: white;
            padding: 5px 5px;
            bottom: 0;
            left: 0;
            width: 100%;
            opacity: 0.8;
            font-size: 8pt;
        }
    </style>
    <div style="text-align: center">
        <h1 class="head-line loginText">
            Revolutionary People
        </h1>
    </div>
    <section class="main">
        <form class="form-3">
            <p class="clearfix">
                <label for="login">Username</label>
                <input type="text" name="login" id="login" placeholder="Username">
            </p>
            <p class="clearfix">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Password"> 
            </p>
            <p class="clearfix">
                <input type="checkbox" name="remember" id="remember">
                <label for="remember">Remember me</label>
            </p>
            <p class="clearfix">
                <input type="submit" name="submit" value="Sign in">
            </p>       
        </form>​
    </section>
    <div class="foot-line">
        © 2020 RevolutionaryPeople. All Rights Reserved
    </div>
    <script>
        window.LoginForm = function(){
            let classData = {
                name: "loginForm",
                data : ()=>{
                    return {
                        loginText: ()=>{return select('.loginText')},
                    }
                }
            }
            return classData;
        }

        gapi.load('auth2', ()=>{
            gapi.auth2.init({
                client_id: "443209819754-hme9avhfousp6gtoblduivc97phd4fpp.apps.googleusercontent.com"
            })
        })
    </script>
    
</div>
